/* ------------------------------------------
general.css 
Общие стили для всех страниц Ozon.ru
------------------------------------------ */

:root
{
    --cleanOzon-gray: gray;
}

footer
{ display: none; }

/* separator */
div[data-widget="separator"]
{ display: none; }

/* Знак вопроса внизу */
/* div[data-widget="stickyContainer"]
{ display: none; } */

/* Красные значки уведомлений в хедере  */
div.tsBodyNumeric300XSmall,
div.tsBody200XSmall
{ display: none; }

/* header */
header[data-widget="header"][itemscope="itemscope"]
{ padding: 0; }

/* Верхняя перелинковка */
header>div:last-child>div:first-child
{ display: none !important; }



/* ------------------------------------------
Карточки товаров
------------------------------------------ */

/* Ценники */
span.tsHeadline500Medium
{
-webkit-text-fill-color: var(--cleanOzon-gray) !important;
color: var(--cleanOzon-gray) !important;
background: none !important;
}

/* ozon.ru */
div[data-index] > :is(
    a section,                                          /* Прямоугольные плашки */
    div:nth-of-type(2) > div:nth-of-type(2)             /* Оценка товара */
)
{ display: none !important; }

/* ozon.ru/category */
div[data-index] > :is(
    a section,                                          /* Прямоугольные плашки на карточке */
    a + div + div                                       /* Сердечко (Добавить в избранное) */
)
{ display: none !important; }

div[data-index] > a + div :is(
    div:nth-of-type(n+2),                               /* Оценка, отзывы, остатки */
    div:nth-of-type(1) > div > span:nth-of-type(n+2)    /* Старая цена и скидка */
) 
{ display: none !important; }

/* Перекрасить "в корзину" */
div[data-widget="skuGridSimple"] > div > div:nth-child(2) > div:nth-child(5) > div > button
{background: var(--cleanOzon-gray);}