/* ------------------------------------------
general.css 
Общие стили для всех страниц Ozon.ru
------------------------------------------ */

:root
{
    --cleanOzon-gray: gray;
}

footer
{ display: none; }

/* separator */
div[data-widget="separator"]
{ display: none; }

/* Знак вопроса внизу */
/* div[data-widget="stickyContainer"]
{ display: none; } */

/* Красные значки уведомлений в хедере  */
div.tsBodyNumeric300XSmall,
div.tsBody200XSmall
{ display: none; }

/* header */
header[data-widget="header"][itemscope="itemscope"]
{ padding: 0; }

/* Верхняя перелинковка */
header>div:last-child>div:first-child
{ display: none !important; }



/* ------------------------------------------
Карточки товаров
------------------------------------------ */

/* Ценники */
span.tsHeadline500Medium
{
-webkit-text-fill-color: var(--cleanOzon-gray) !important;
color: var(--cleanOzon-gray) !important;
background: none !important;
}

/* ozon.ru */
div[data-index] > a > section,  /* Прямоугольные плашки на карточке */
div[data-index] > div:nth-of-type(2) > div:nth-of-type(2),  /* Оценка товара */
div[data-index] > div[favlistslink]   /* Сердечко (Добавить в избранное) */
{ display: none !important; }

/* ozon.ru/category 
Сердечко (Добавить в избранное)
Сравниваю path у svg (не весь, только начало) */
div[data-index] div:has(> button > svg > path[d^="M7 5a4 4 0 0 0-4 4c0 3.552 2.218 6.296 4.621"])
{ display: none !important; }

/* --- Везде --- */

/* Старая цена и скидка */
/* Селектор на div в котором ТОЛЬКО 3 span'а, затем выбираю все начиная со второго */
div:has(> span:nth-child(3):last-child):not(:has(> :not(span))) > span:nth-child(n+2)
{ display: none !important; }

/* TODO: 
Выделить более точечно */
/* Осталось N штук */
div[data-index] > a + div > div:nth-of-type(n+2)
{    
    /* filter: blur(2px); */
    display: none !important;
}


/* Перекрасить "в корзину" */
div[data-widget="skuGridSimple"] > div > div:nth-child(2) > div:nth-child(5) > div > button
{background: var(--cleanOzon-gray);}