/* ------------------------------------------
main_page.css
Стили для главной страницы Ozon.ru
------------------------------------------ */

div[data-widget="seasonWidget"],
div[data-widget="advBanner"],
div[data-widget="cookieBubble"],
div[data-widget="island"]:has(div[data-widget="objectBannerList"]),
div[data-widget="island"]:has(div[data-widget="imageList"]),
section:has(div[title="Распродажа"]),
section:has(div[title="Цена что надо"])
{ display: none; }

div[data-index]>div:last-child>div:first-child>div>span:nth-child(n+2)
{display: none; }

div[data-widget="separator"]
{ background-color: var(--accent); }