/* ------------------------------------------
orderlist.css
Точечно убрать рекоммендации, если по другому не получится
------------------------------------------ */

/* TODO:
Подумать над более универсальным методом, может всё же задействовать JS?
*/

/* Рекомендации к вашим покупкам */
div[data-widget="skuGrid"]
{display: none;}

/* Вы смотрели */
div[data-widget="skuShelfGoods"]
{display: none;}