name: Publish Extension

on:
  push:
    tags:
      - 'v*' # Запускать только если пуш содержит тег, начинающийся с v

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      # --- СБОРКА CHROME ---
      - name: Build Chrome Extension
        run: |
          mkdir -p dist/chrome
          # Копируем всё кроме служебных файлов
          rsync -av --progress . dist/chrome --exclude .git --exclude .github --exclude dist --exclude manifest.firefox.json --exclude manifest.chrome.json
          # Берем манифест для хрома и переименовываем в manifest.json
          cp manifest.chrome.json dist/chrome/manifest.json
          # Архивируем
          cd dist/chrome
          zip -r ../extension-chrome.zip .
          cd ../..

      # --- СБОРКА FIREFOX ---
      - name: Build Firefox Extension
        run: |
          mkdir -p dist/firefox
          rsync -av --progress . dist/firefox --exclude .git --exclude .github --exclude dist --exclude manifest.firefox.json --exclude manifest.chrome.json
          # Берем манифест для фф
          cp manifest.firefox.json dist/firefox/manifest.json
          # Архивируем
          cd dist/firefox
          zip -r ../extension-firefox.zip .
          cd ../..

      # --- СОЗДАНИЕ РЕЛИЗА НА GITHUB ---
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            dist/extension-chrome.zip
            dist/extension-firefox.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # --- ПУБЛИКАЦИЯ В CHROME ---
      - name: Upload to Chrome Web Store
        uses: wdzeng/chrome-extension-upload@v2
        with:
          file-path: dist/extension-chrome.zip
          extension-id: ${{ secrets.CHROME_EXTENSION_ID }}
          client-id: ${{ secrets.CHROME_CLIENT_ID }}
          client-secret: ${{ secrets.CHROME_CLIENT_SECRET }}
          refresh-token: ${{ secrets.CHROME_REFRESH_TOKEN }}
          publish: true # Если false, то только загрузит черновик, но не отправит на проверку

      # --- ПУБЛИКАЦИЯ В FIREFOX ---
      - name: Upload to Firefox Add-ons
        uses: wdzeng/firefox-addon@v1
        with:
          addon-guid: "{8ab1db50-b280-4711-bd75-68e4bad4aeee}" # Ваш ID из манифеста
          xpi-path: dist/extension-firefox.zip
          jwt-issuer: ${{ secrets.FIREFOX_JWT_ISSUER }}
          jwt-secret: ${{ secrets.FIREFOX_JWT_SECRET }}
          # self-hosted: false (по умолчанию false, значит публикуем в магазин)